.top-component {
  background-color: #F4F4F4;
  margin: 6.5rem 3rem 3rem 3rem;
  max-width: 100%;
  min-height: 30rem;
  border-radius: 4rem;
  display: flex;
  overflow: hidden;
  background-image: url("../../Assets/more-materials-cover.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right -10rem bottom 0;
}

.more-materials-container {
  padding: 0 2rem 2rem 2rem !important;
}

.mm-text-container {
  color: #2d2d2d;
  align-self: center;
  margin-left: 5rem;
}

$headerHeight: 9rem;
.more-materials-card-header {
  height: $headerHeight;
  display: flex;
}

.more-materials-card {
  background-color: #F5F5F5 !important;
  border-radius: 1rem !important;
  overflow: hidden;
  //min-width: 30rem !important;
}

.more-materials-card-image {
  width: $headerHeight;
  height: $headerHeight;
  border-radius: 0 1rem 1rem 0;
}

.more-materials-card-title {
  align-self: center;
  margin-left: 1rem;
}

