<div style="padding:32px">
  <mat-checkbox [checked]="true">Site</mat-checkbox><p></p>
  <mat-checkbox [checked]="true">Linkuri Utile</mat-checkbox><p></p>
  <mat-checkbox>Sfaturi(burse, net camin)</mat-checkbox><p></p>
  <mat-checkbox>Despre</mat-checkbox><p></p>
  <mat-checkbox>Faq</mat-checkbox><p></p>
  <mat-checkbox>Update Automat la An/Semestru</mat-checkbox><p></p>
  <mat-checkbox [checked]="true">Text Responsive</mat-checkbox><p></p>
  <mat-checkbox>Settings</mat-checkbox><p></p>
  <mat-checkbox>Feedback Page(list all the feedback)</mat-checkbox><p></p>
</div>

