<!-- Main Sidenav - Large Screens -->
<div class="layout-container sidenav-layout">

  <div class="sidenav-logo-container">
    <img class="sidenav-logo" src="/assets/logo.svg" alt="">
    <div class="sidenav-logo-text">FIIMaterials</div>
  </div>

  <div class="list">
    <a class="list-item"
         *ngFor="let item of list" routerLink="{{item.route}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <div><i class="{{item.icon}} i i-sm"></i></div>
      <div>{{item.name}}</div>
    </a>
  </div>

  <div class="flex-spacer"></div>

  <div class="sidenav-footer">
    <div>FIIMaterials © 2022</div>
    <div>Created by <b>Stamate Valentin</b> during his boring time</div>
    <div><a href="mailto:stamatevalentin125@gmail.com?subject=FIIMaterials Contact" target="_blank">Contact Me</a></div>

    <div class="sidenav-footer-icons">
      <a href="https://github.com/FIIMaterials/" target="_blank">
        <i class="fab fa-github-square i i-lg"></i>
      </a>
    </div>
  </div>

</div>

<!-- Secondary Sidenav - Small Screens -->
<div class="layout-container secondary-sidenav-layout">

  <div class="sidenav-logo-container">
    <img class="sidenav-logo" src="/assets/logo.svg" alt="">
    <div class="sidenav-logo-text">FIIMaterials</div>
  </div>

  <div class="list-row overflow-auto scroll-hidden">
    <a class="list-item"
       *ngFor="let item of list" routerLink="{{item.route}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      {{item.name}}
    </a>
  </div>

</div>
