<div class="layout-container sidenav-layout">

  <div class="sidenav-logo-container">
    <img class="sidenav-logo" src="/assets/logo.svg" alt="">
    <div class="sidenav-logo-text">FIIMaterials</div>
  </div>

  <div class="sidenav-list">
    <a class="sidenav-list-item {{item.active ? 'sidenav-list-item-active' : ''}}"
         *ngFor="let item of list" href="{{item.route}}">
      {{item.name}}
    </a>
  </div>

  <div class="flex-spacer"></div>

  <div class="sidenav-footer">
    <div>FIIMaterials © 2022</div>
    <div>Created by <b>Stamate Valentin</b> during his boring time</div>

    <div class="sidenav-footer-icons">
      <a href="https://github.com/FIIMaterials/FIIMaterials-Frontend" target="_blank">
        <i class="fab fa-github-square i i-md"></i>
      </a>
    </div>
  </div>

</div>
