.list-thumbnail-container {
    width: 160px;
    height: 90px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #fff;
}

.list-thumbnail {
    position: relative;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
}

.resource-description-container {
    width: 100%;
    min-height: 90px;
}

.resource-description {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90px;
    padding: 0 1rem 0 1rem;
}

.tag-list {
    width: 100%;
    background-color: #353535;
    padding: 2px 0 4px 12px;
    border-radius: 2px;
}
