.list-thumbnail-container {
    width: 160px;
    height: 90px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: #282828 0 2px 4px;
}

.list-thumbnail {
    position: relative;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
}

.resource-description-container {
    width: 100%;
    min-height: 90px;
}

.resource-description {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90px;
    padding: 0 1rem 0 1rem;
}

.tag-wrapper {
    position: absolute;
    width: 100%;
    height: 2.5rem;
    left: 0;
    bottom: 0;
    background-color: #00000030;
}

.tag-list {
    position: relative;
    top: 8px;
    left: 10px
}

/* POSITION */
.res-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
}

.res-item-left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.res-item-right {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: left;
}

@media (max-width: 900px) {
    .res-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
    }

    .res-item-left {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        justify-items: center;
    }

    .res-item-right {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        margin-top: 0.75rem;
    }

    .list-thumbnail-container {
        box-shadow: 0 0 0 0;
    }

    .center-on-small {
        display: flex;
        justify-items: center;
        //background-color: #fff;
        //justify-content: center;
        border-radius: 0.5rem;
    }
}


