<div class="layout-container">

  <div class="layout-content">
    <div class="content-title">Donate</div>
    <div class="content-subtitle font-light">Only if you feel I deserve it</div>
  </div>

  <div class="layout-content">
      If you want to donate, you can do so via Revolut or back transfer.
  </div>

  <div class="grid-auto gap-16">
    <div class="flex-column gap-16 list-item user-select">
      <div>Revolut</div>
      <div><b>revolut.me/valentinst</b></div>
    </div>

    <div class="flex-column gap-16 list-item user-select">
      <div>Back Transfer</div>
      <div><b>RO25INGB0000999908438976</b></div>
    </div>
  </div>

</div>
