<div class="title"><app-consolas text="Util" color="#3F51B5"></app-consolas></div>
<div style="padding: 36px">
  <mat-card class="fit" style="padding: 0">

    <mat-accordion displayMode="default">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Linkuri Utile
          </mat-panel-title>
          <mat-panel-description>
<!--            Type your name and age-->
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-nav-list *ngFor="let item of usefulLinks">
          <a mat-list-item target="_blank" href="{{item.link}}" >{{item.title}}</a>
        </mat-nav-list>

      </mat-expansion-panel>
    </mat-accordion>

  </mat-card>


</div>


