<div style="padding: 36px">
  <mat-card class="mat-elevation-z4 fit" style="padding: 0">

    <mat-card-header [class.section-tile-light]="!themeSwitcher.lightTheme" [class.section-tile-dark]="themeSwitcher.lightTheme">
      <mat-card-title style="margin-bottom: 0">{{sectionTitle}}</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>

    <form [formGroup]="feedbackFormGroup" (ngSubmit)="onSubmitFeedback()">
      <div fxLayout="row"
           fxLayout.xs="column"
           fxLayoutGap="24px" style="padding: 42px; padding-bottom: 0">

        <div fxFlex="50">

          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Nume</mat-label>
            <input matInput placeholder="Eg. Ion Popescu" formControlName="name">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Numele este optional</mat-hint>
          </mat-form-field>

        </div>

        <div fxFlex="50">

          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Subiect</mat-label>
            <input matInput placeholder="" formControlName="subject">
          </mat-form-field>

        </div>

      </div>


      <div fxLayout="column"
           style="padding: 42px; padding-top: 8px">

        <div fxFlex="50">
          <mat-form-field style="width: 100%;">
            <mat-label>Detalii subiect</mat-label>
            <label>
              <textarea matInput placeholder="" formControlName="message"></textarea>
            </label>
          </mat-form-field>
        </div>

        <div fxFlex="50">
          <button mat-raised-button color="primary" type="submit" [disabled]="!feedbackFormGroup.valid">Trimite</button>
        </div>

      </div>
    </form>

  </mat-card>


</div>
