<div class="navbar blue-style">
  <!-- Logo -->
  <div class="flex-center">
    <div class="flex-column flex-center no-gap">
      <div class="flex-row">
        <img src="assets/logo_outlined.svg" class="logo" alt="">
        <div class="logo-name">FIIMaterials</div>
      </div>
      <div class="subtitle-logo">{{pickRandomSubtitle()}}</div>
    </div>
  </div>

  <!-- Nav -->
  <div>
    <div class="navigation">
      <div class="nav-item active">
        <div>Home</div>
        <div class="line"></div>
        <div class="nav-item-popup"></div>
      </div>

      <div class="nav-item">
        <div>Materials</div>
        <div class="line"></div>
        <div class="nav-item-popup"></div>
      </div>

      <div class="nav-item">
        <div>Classes</div>
        <div class="line"></div>
        <div class="nav-item-popup"></div>
      </div>

      <div class="nav-item">
        <div>Feedback</div>
        <div class="line"></div>
        <div class="nav-item-popup"></div>
      </div>

      <div class="nav-item">
        <div>Donate</div>
        <div class="line"></div>
        <div class="nav-item-popup"></div>
      </div>

      <div class="nav-item">
        <div>Contributors</div>
        <div class="line"></div>
        <div class="nav-item-popup"></div>
      </div>

      <div class="nav-item">
        <a href="https://github.com/FIIMaterials" target="_blank"><div>GitHub</div></a>
        <div class="line"></div>
        <div class="nav-item-popup"></div>
      </div>

    </div>
  </div>

  <!-- ? -->
  <div></div>
</div>
