@import "variables";

/* Used for welcome component */
/* I know !important is not recommended, but bulma is giving me no choice */
.yellow-style {
  & .logo-subtitle {
    color: $font-yellow !important;
  }

  & .button {
    background-color: $bg-yellow !important;
    color: white !important;
  }
}

.blue-style {
  & .logo-subtitle {
    color: $font-blue !important;
  }

  & .button {
    background-color: $bg-blue !important;
    color: white !important;
  }
}

.green-style {
  & .logo-subtitle {
    color: $font-green !important;
  }

  & .button {
    background-color: $bg-green !important;
    color: white !important;
  }
}

/* Components */
.box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-radius: 4px;

}

.has-shadow-animated {
  box-shadow: rgba(149, 157, 165, 0.2) 0 0 0;
  transition: box-shadow 250ms ease-in-out;
}

.has-shadow-animated:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.has-shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.img {
  width: 100%;
  border-radius: 4px;
}

.welcome {
  min-height: 540px;
  background: linear-gradient(-90deg, $blue-dark, $blue-light);
  padding: 128px 32px 32px 32px;
  color: white;

  .welcome-title {
    font-size: 2.125rem;
    font-weight: 400;
    font-family: "Ubuntu","Helvetica","Arial",sans-serif;
  }

  .welcome-description {
    font-size: 1.125rem;
  }

}

.page-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $font-color;
  animation: fadein 300ms ease-in-out;
  padding: 0 32px 0 32px;
  .content {
    width: min(100%, 1280px);
    padding: 32px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 32px;
  }

  .title {
    font-size: 2.125rem;
    font-weight: 500;
    color: $font-color;
  }

}

.materials-layout {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr;
  gap: 32px;
  padding: 0 32px;
}

.materials-year-layout {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;

  .col {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .material-item {
    $transition: all 150ms ease-in-out;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    padding: 8px 12px;
    border: #bcc4c9 solid 1px;
    border-radius: 4px;
    transition: $transition;
    color: $font-color-light;
    font-size: 0.875rem;

    a {
      color: $font-color-light;
      transition: $transition;
    }

    .material-icon {
      position: relative;
      top: 1px;
      font-size: 1.25rem;
    }
  }

  .material-item:hover {
    transform: translateY(-4px);
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
    color: $font-color;

    a {
      color: $font-color;
    }
  }

}

.nav-list {

  .is-red:hover {
    background-color: $bg-red;
    color: white !important;

    small {
      color: white;
    }
  }

  .is-yellow:hover {
    background-color: $bg-yellow;
    color: white !important;

    small {
      color: white;
    }
  }

  .is-blue:hover {
    background-color: $bg-blue;
    color: white !important;

    small {
      color: white;
    }
  }

  .is-green:hover {
    background-color: $bg-green;
    color: white !important;

    small {
      color: white;
    }
  }

  .item {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 24px;
    padding: 24px;
    font-weight: bold;
    transition: all 100ms ease-in-out;
    color: $font-color !important;

    small {
      color: $font-color-light;
    }

    .item-icon {
      background-color: #00000000;
      padding: 8px;
      border-radius: 4px;
      transition: background-color 200ms ease-in-out;
    }

    .item-icon:hover {
      background-color: #00000020;
    }

  }

}

.sticky-box {
  position: sticky;
  top: 32px;
}

i.icon {
  font-size: 52px;
}

/* Font */
.font-title {
  font-size: 2rem;
  line-height: 1.25;

  .subtitle {
    font-size: 0.75em;
    color: $font-color-light;
  }
}


.font-16 {
  font-size: 1rem;
}

.font-20 {
  font-size: 1.25rem;
}

.font-light {
  color: $font-color-light;
}

.font-center {
  text-align: center;
}
