@import "src/style/variables";

/* Navbar */
.navbar {
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  display: grid;
  gap: 32px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  color: $font-color-invert;
  padding: 24px;
  background-color: transparent;

  a {
    color: white;
  }

  .nav {
    grid-column: 2 / 3;
  }

  .nav-icon {
    display: none;
  }

  .nav-logo {
    grid-column: 1 / 2;
  }

  .logo {
    width: 56px;
    border-radius: 24px;
    animation: float 4s ease-in-out infinite;
    //transition: transform 1.5s ease-in-out;
  }

  .logo:hover {
    transform: rotate(360deg);
  }

  .logo-name {
    font-size: 2.25rem;
    font-family: "Jura","Helvetica","Arial",sans-serif;
  }

  .logo-subtitle {
    margin-top: 8px;
    font-size: 1.125rem;
    font-family: "Jura","Helvetica","Arial",sans-serif;
    font-weight: 600;
  }

  .navigation {
    display: flex;
    gap: 16px;
  }

  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }

  .nav-item:hover {
    .line {
      width: 100%;
    }

    .nav-item-popup {
      display: block;
      overflow: hidden;
    }
  }

  .line {
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: white;
    transition: width ease 300ms;
  }

  .nav-item:not(:hover) {
    .line {
      width: 0;
    }
  }

  .nav-item.active {
    .line {
      width: 100%;
    }
  }

  .nav-item-popup {
    position: absolute;
    min-width: 240px;
    min-height: 20px;
    background-color: white;
    color: $font-color;
    border-radius: 4px;
    margin-top: 36px;
    display: none;
    animation: popup-animation 125ms ease-in-out;
  }

}

/* Sidenav */
$sidenav-width: 340px;
$sidenav-transition-time: 250ms;

.sidenav-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  animation: opacity $sidenav-transition-time ease-in-out;
  animation-fill-mode: forwards;
}

.sidenav {
  position: absolute;
  left: -$sidenav-width;
  top:0;
  height: 100vh;
  width: $sidenav-width;
  box-sizing: border-box;
  background-color: $blue-light;
  z-index: 10;
  color: $font-blue;
  opacity: 0;
  flex-direction: column;
  box-shadow: rgba(20, 20, 20, 0.4) 0 0 0 0;
  transition: left $sidenav-transition-time ease-in-out, opacity $sidenav-transition-time ease-in-out,
              box-shadow $sidenav-transition-time ease-in-out;

  .sidenav-logo {
    padding: 32px;
  }

  .logo {
    width: 48px;
    border-radius: 24px;
  }

  .logo-name {
    font-size: 2.125rem;
    font-family: "Jura","Helvetica","Arial",sans-serif;
    color: white;
  }

  .logo-subtitle {
    margin-top: 8px;
    font-size: 1rem;
    font-family: "Jura","Helvetica","Arial",sans-serif;
    font-weight: 600;
  }

  /* Sidenav List */
  .sidenav-list {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "Open Sans","Helvetica","Arial",sans-serif;
    font-size: 0.9rem;

    a {
      color: white;
    }

    i {
      font-size: 1.75rem;
    }

    .item {
      padding: 24px;
      display: flex;
      flex-direction: row;
      justify-items: center;
      gap: 24px;
      transition: background-color 200ms ease-in-out;
      cursor: pointer;

    }

    .item-active {
      background-color: #ffffff30;
    }

    .item:hover {
      background-color: #ffffff30;
    }

  }

}

.sidenav-opened {
  opacity: 1;
  box-shadow: rgba(20, 20, 20, 0.4) 0 7px 29px 0;
  left: 0;
}
