@media (max-width: 1020px), (orientation: portrait) {
  .navbar {
    .nav-icon {
      display: flex;
      justify-items: center;
      font-size: 36px;
    }

    .nav-logo {
      grid-column: 2 / 3;
    }

    .nav {
      display: none;
    }
  }
}

@media (max-width: 1020px) {
  .grid-3 {
    grid-template-columns: 1fr;
  }

  .grid-2 {
    grid-template-columns: 1fr;
  }

  .materials-layout {
    display: flex;
    flex-direction: column;
  }

}

@media (max-width: 720px) {
  .materials-year-layout {
    display: flex;
    flex-direction: column;
  }
}
