<div style="padding: 32px">
  <mat-card class="mat-elevation-z2 fit" style="padding: 0">

    <mat-card-header style="padding: 16px;" [class.dark-title-background]="themeSwitcher.darkTheme" [class.light-title-background]="!themeSwitcher.darkTheme">
      <mat-card-title style="margin-bottom: 0">Materiale</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="PRIMUL AN">
          <app-first-year></app-first-year>
        </mat-tab>
        <mat-tab label="AL DOILEA AN">
          <app-second-year></app-second-year>
        </mat-tab>
        <mat-tab label="AL TREILEA AN">
          <app-third-year></app-third-year>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
