.star-wrapper {
    padding-right: 0.25rem;
}

.star-toast {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
}

.rating-wrapper {
    border-radius: 1em;
    padding: 0 0.75em 0.25em 0.75em;
}
