<div class="welcome">

  <div class="flex-column flex-center">
    <div class="flex-column gap-24">
      <div class="welcome-title">FIIMaterials</div>
      <div class="welcome-description">
        A website made for students. It packs all the materials into one source.<br>
        An open source project meant to gather more students working on it.<br>
        #KeepTheTraditionAlive
      </div>

      <div>
        <button class="button is-primary is-large bg-yellow">
          <span class="icon">
            <i class="fa-solid fa-meteor"></i>
          </span>
          <span>Open Materials</span>
        </button>
      </div>

    </div>
  </div>

  <div class="flex-column flex-center"></div>

</div>

<div class="flex-column gap-32">
  <div></div>
</div>
