<!-- Welcome Section -->
<div class="welcome grid-2 blue-style">

  <div class="flex-column flex-center">
    <div class="flex-column gap-24">
      <div class="welcome-title">FIIMaterials</div>
      <div class="welcome-description">
        A website made for students. It packs all the materials into one source.<br>
        An open source project meant to gather more students working on it.<br>
        #KeepTheTraditionAlive
      </div>

      <div>
        <button class="button is-white is-large">
          <span class="icon">
            <i class="fa-solid fa-meteor"></i>
          </span>
          <span>Open Materials</span>
        </button>
      </div>

    </div>
  </div>

  <div class="flex-column flex-center"></div>

</div>

<!-- Page Content -->
<div class="page-layout">
  <div class="content">
    <div class="container">

      <div class="title">What is FIIMaterials</div>

      <div class="grid-3 gap-32 fill">

        <div class="box flex-center has-shadow-animated">
          <i class="fa-solid fa-code icon"></i>
          <div class="font-20">Open Source</div>
          <div class="font-light font-center">
            Since the beginning, this project was open source, so everyone could take a look at the
            source code. It is made with Angular and NodeJs.
          </div>
        </div>

        <div class="box flex-center has-shadow-animated">
          <i class="fa-solid fa-graduation-cap icon"></i>
          <div class="font-20">Made For Students</div>
          <div class="font-light font-center">
            Starting as a random project, became a popular site among students. The maintenance was
            motivated by the fact that really helped students.
          </div>
        </div>

        <div class="box flex-center has-shadow-animated">
          <i class="fa-solid fa-wand-magic-sparkles icon"></i>
          <div class="font-20">Made With Passion</div>
          <div class="font-light font-center">
            This is the 4'th UI major change. For every one the best was put into making a decent
            ui and a great user experience.
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
