<div class="layout-container">

  <div class="content-title-container">
    <div class="content-title">Home</div>
    <div class="content-subtitle">Home sweet home</div>
  </div>

  <div class="flex-row flex-gap-16 flex-space-between">
    <!-- About -->
    <div class="card card-md card-h-md bck-green">
      <div class="title">
        <div>About</div>
        <div><i class="fas fa-info-circle i i-md"></i></div>
      </div>
      <div class="content text-justify">
        Here you can find useful materials. Those include exams from previous years,
        courses and more useful things.
      </div>
    </div>

    <!-- Complete -->
    <div class="card card-md card-h-md bck-deep-orange">
      <div class="title">
        <div>Complete</div>
        <div><i class="fas fa-database i i-md"></i></div>
      </div>
      <div class="content">
        The archive is (almost) complete. The purpose is to be very structured, easy to extend
        and also gather more students to contribute to have every year fresh materials.
      </div>
    </div>

    <!-- Open Source -->
    <div class="card card-md card-h-md bck-blue">
      <div class="title">
        <div>Open Source</div>
        <div><i class="fas fa-laptop-code i i-md"></i></div>
      </div>
      <div class="content">
        If you are curious how this works, you can take a look at the source code. And if you want
        to contribute you are welcomed to do so.
      </div>
    </div>
  </div>

</div>
