<!-- Navbar -->
<app-navbar [style]="'yellow-style'"></app-navbar>

<!-- Welcome Section -->
<div class="welcome flex-column gap-24 flex-center yellow-style">

  <div class="welcome-title">Materials</div>
  <div class="welcome-description font-center max-width-720">
    All of those materials are hosted on Mega for free. Those are pretty recent starting from the first year
    to the end of faculty. Being in his last year the developer would not be able to bring new materials,
    but he's gonna solve this issue (not by repeating years).
  </div>

</div>

<!-- Page Content -->
<div class="page-layout">
  <div class="content container">
    <div class="container">

      <div class="title">Materials</div>

    </div>
  </div>
</div>
