<div style="padding: 36px">
  <mat-card class="mat-elevation-z2 fit" style="padding: 0">

    <div fxLayout="row"
         fxLayout.xs="column"
         fxLayoutGap="24px" style="padding: 42px">

      <div fxFlex="50">
        <div class="section-title">Scurta Istorie</div>
        <div class="section-content">
          Acum cateva zile, dupa sesiune unul dintre studenti a pus materialele pe GitHub, materiale stranse de mai multi, iar altul s-a gandit la un site. Asa s-a nascut ideea.
        </div>
      </div>

      <div fxFlex="50">
        <div class="section-title">Usor de Folosit</div>
        <div class="section-content">
          Acesta a fost si scopul. Toate lucrurile importante sa fie la indemana intr-un singur pachet.<p></p>Materiale si Credite deocamdata.
        </div>
      </div>

      <div fxFlex="50">
        <div class="section-title">Sugestiile Conteaza</div>
        <div class="section-content">
          Orice sugestie aveti puteti lasa un feedback mai jos pentru ca sunt mari sanse ca acestea sa fie implementate. Singurul impediment este timpul.
        </div>
      </div>

    </div>

  </mat-card>
</div>
