.info-icon {
    width: 5rem;
    height: 5rem;
    margin-top: 0.75rem;
}

.short-details-card {
    background-color: #F0F2F5 !important;
    border: 0 !important;
    border-radius: 1rem !important;
    padding: 0.5rem !important;
}
