.info-icon {
    width: 5rem;
    height: 5rem;
    margin-top: 0.75rem;
}

$transition : 0.25s;
.short-details-card {
    border-radius: 1rem !important;
    padding: 0.5rem !important;
    transition: all $transition;
}

.short-details-card:hover {
    border-color: #F0F2F5 !important;
    background-color: #F0F2F5 !important;
    transition: all $transition;
}
