<div class="title">Credits</div>

  <div fxLayout="row"
       fxLayout.xs="column"
       fxLayoutGap="24px" style="padding: 42px">

    <div fxFlex="50">
      <mat-card class="mat-elevation-z2 center" style="width: 300px">
        <mat-card-title>Omuletii</mat-card-title>
        <mat-card-content>
          Desigur, omuletii fara de care proiectul asta nu exista. `Cel dintai` este <app-consolas [text]="'LogAlex96'"></app-consolas>, asa ca mai jos este un link catre arhiva.
        </mat-card-content>
        <mat-card-actions>
          <a mat-button color="primary" href="https://github.com/logalex96/UAIC-Informatica-Iasi" target="_blank">GitHub</a>
        </mat-card-actions>
      </mat-card>
    </div>

    <div fxFlex="50">
      <mat-card class="mat-elevation-z2 center" style="width: 300px">
        <mat-card-title>FreePik</mat-card-title>
        <mat-card-content>
          Acesta este un site cu resurse vectoriale .ai .psd si altele. Imaginea din pagina principala este luata de acolo.
        </mat-card-content>
        <mat-card-actions>
          <a mat-button color="primary" href="https://www.freepik.com/" target="_blank">Link</a>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>


