<div class="layout-container">

  <div class="layout-content">
    <div class="content-title">Contributors</div>
    <div class="content-subtitle font-light">Many hands make light work</div>
  </div>

  <div class="flex-row flex-center">
    <b>Thank you all for the contributions. It really helps me with this project because I can't be in all places at once.</b>
  </div>

  <div class="layout-content flex-column gap-16">
    <div class="flex-column gap-16">

      <div class="content-title-sm">Developers</div>

      <div class="flex-row flex-wrap gap-16 flex-space-between">
        <div *ngFor="let item of developers">
          <div class="image-card">

            <div class="tooltip">
              <img src="{{item.image}}" alt="">
              <span class="tooltiptext">{{item.about}}</span>
            </div>

            <div class="text">{{item.name}}</div>
            <div></div>
          </div>
        </div>
      </div>

    </div>

    <div class="flex-column gap-16">
      <div class="content-title-sm">Material Keepers</div>

      <div class="flex-row flex-wrap gap-16 flex-space-between">
        <div *ngFor="let item of materialKeepers">
          <div class="image-card">

            <div class="tooltip">
              <img src="{{item.image}}" alt="">
              <span class="tooltiptext">{{item.about}}</span>
            </div>

            <div class="text">{{item.name}}</div>
            <div></div>
          </div>
        </div>
      </div>

    </div>

    <div class="flex-column gap-16">
      <div class="content-title-sm">Contributors</div>

      <div class="flex-row flex-wrap gap-16 flex-space-evenly">
        <div *ngFor="let item of contributors">
          <div class="image-card">

            <div class="tooltip">
              <img src="{{item.image}}" alt="">
              <span class="tooltiptext">{{item.about}}</span>
            </div>

            <div class="text">{{item.name}}</div>
            <div></div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
