.popup {
  z-index: -1;
  opacity: 0;
  scale: 95%;
}

.popup.open {
  animation: popup-in 200ms ease-out forwards;
}

.popup.close {
  animation: popup-out 200ms ease-in forwards;
}

@keyframes popup-in {
  0% {
    z-index: 1;
    opacity: 0;
    scale: 95%;
  }

  100% {
    z-index: 1;
    opacity: 1;
    scale: 100%;
  }
}

@keyframes popup-out {
  0% {
    z-index: 1;
    opacity: 1;
    scale: 100%;
  }

  99% {
    opacity: 0;
    scale: 95%;
  }

  100% {
    z-index: -1;
  }
}

.float-right {
  position: relative;
  animation: right-animation 2s ease-in-out infinite;
}

@keyframes right-animation {
  0% {
    left: 0;
  }

  50% {
    left: 12px;
  }

  100% {
    left: 0;
  }
}

.donation-button {
  animation: wiggle 4s infinite;
}

@keyframes wiggle {
  0% { transform: rotate(0deg) scale(100%); }
  20% { transform: rotate(0deg) scale(100%); }

  80% { transform: rotate(0deg) scale(100%); }
  85% { transform: rotate(-8deg) scale(125%); }
  90% { transform: rotate(8deg) scale(125%); }
  95% { transform: rotate(-8deg) scale(125%); }

  100% { transform: rotate(-0deg) scale(100%); }
}
