.popup {
  z-index: -1;
  opacity: 0;
  scale: 95%;
}

.popup.open {
  animation: popup-in 200ms ease-out forwards;
}

.popup.close {
  animation: popup-out 200ms ease-in forwards;
}

@keyframes popup-in {
  0% {
    z-index: 1;
    opacity: 0;
    scale: 95%;
  }

  100% {
    z-index: 1;
    opacity: 1;
    scale: 100%;
  }
}

@keyframes popup-out {
  0% {
    z-index: 1;
    opacity: 1;
    scale: 100%;
  }

  99% {
    opacity: 0;
    scale: 95%;
  }

  100% {
    z-index: -1;
  }
}
