<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button type="button" class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Heroicon name: outline/bars-3

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <!--
            Icon when menu is open.

            Heroicon name: outline/x-mark

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <img class="block h-8 w-auto lg:hidden" src="assets/logo_outlined.svg" alt="Your Company">
          <img class="hidden h-8 w-auto lg:block" src="assets/logo_outlined.svg" alt="Your Company">
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <button class="hover:bg-gray-700 bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Materials</button>

            <!-- Donate -->
            <div>
              <button (click)="toggleDonateDropdown()" class="hover:bg-gray-700 text-white px-3 py-2 rounded-md text-sm font-medium"
                      [ngClass]="config.isDonationDropdownOpened ? 'bg-gray-900' : 'bg-gray-800'"><div class="donation-button">Donate</div></button>

              <div id="donate-dropdown" class="popup absolute overflow-hidden left-[9.5rem] z-10 mt-2 origin-top-left rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu">
                <div *ngFor="let donation of donations; let i = index" class="hover:bg-gray-100 flex gap-4 items-center px-4 py-2 text-sm text-gray-700">
                  <i class="{{donation.icon}} text-[1.5rem]"></i>

                  <div class="flex flex-col gap-0">
                    <div class="font-medium">{{donation.name}}</div>
                    <div class="font-medium text-[0.75rem]">{{donation.info}}</div>
                  </div>

                  <div class="grow"></div>

                  <button [ngClass]="currentDonationCopy === i ? 'fa-solid fa-clipboard-check' : 'fa-solid fa-clipboard'" class="text-[1.5rem]" (click)="onCopyToClipboard(donation.info, i)"></button>
                </div>
              </div>
            </div>

            <!-- Contact -->
            <div>
              <button (click)="toggleContactDropdown()" class="hover:bg-gray-700 text-white px-3 py-2 rounded-md text-sm font-medium"
                      [ngClass]="config.isContactDropdownOpened ? 'bg-gray-900' : 'bg-gray-800'">Feedback & Contact</button>

              <div id="contact-dropdown" class="popup absolute overflow-hidden left-[15rem] w-[24rem] z-10 mt-2 origin-top-left rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu">
                <div class="font-medium text-sm p-4 text-justify">
                  For contact and feedback you can send a message to one of the social platforms listed on the profile dropdown (the round icon with my picture)
                  or by email at <b>stamatevalentin125@gmail.com</b> .
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex gap-4 items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">

        <a href="https://github.com/valstam/FIIMaterials" target="_blank">
          <i class="fa-brands fa-github text-gray-300 text-[1.5rem]"></i>
        </a>

        <div>
          <i class="float-right fa-solid fa-caret-right text-gray-300 text-[1.5rem]"></i>
        </div>

        <!-- Profile dropdown -->
        <div class="relative ml-3">
          <div>
            <button (click)="toggleProfileDropdown()" type="button" class="flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
              <img class="h-8 w-8 rounded-full" src="https://i.postimg.cc/x8Pq6j2R/profile.jpg" alt="">
            </button>
          </div>

          <div id="profile-dropdown" class="popup overflow-hidden absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu">

            <div class="px-4 py-2 text-sm text-gray-700 font-medium bg-yellow-300 flex justify-center">
              Follow me
            </div>

            <a *ngFor="let social of socialLinks" href="{{social.link}}" target="_blank" class="hover:bg-gray-100 block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1">
              <div class="flex gap-4">
                <i class="{{social.icon}} {{social.color}} text-[1.5rem]"></i>
                <div class="font-medium">{{social.name}}</div>
              </div>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pt-2 pb-3">
      <a class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium" aria-current="page">Materials</a>
    </div>
  </div>
</nav>
