<div class="example-container" [class.class-dark-theme]="themeSwitcher.darkTheme">

  <mat-toolbar color="primary" class="example-toolbar mat-elevation-z4" style="z-index: 2; padding: 12px">
    <div class="logo" style="margin-right: 16px"></div>
    <h1 class="example-app-name">FII Materiale</h1>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav-content>

      <div class="mat-app-background">

        <app-welcome-page></app-welcome-page>
        <app-introduction></app-introduction>

        <app-materials></app-materials>
        <app-feedback></app-feedback>

        <app-footer></app-footer>

      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>


<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
