<div class="example-container" [class]="themeSwitcher.themeClass">

  <mat-toolbar color="primary" class="example-toolbar mat-elevation-z4" style="z-index: 2; padding: 12px">
    <div class="logo" style="margin-right: 16px"></div>
    <h1 class="example-app-name">FII Materiale</h1>

<!--    <a mat-stroked-button style="margin-left: 24px">FAQ</a>-->

    <span class="example-spacer"></span>
    <button mat-stroked-button [matMenuTriggerFor]="menu" style="margin-left: 24px">TEMA</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="themeSwitcher.onLightTheme('light-theme')">Light</button>
      <button mat-menu-item (click)="themeSwitcher.onDarkTheme('dark-theme')" >Dark</button>
    </mat-menu>

  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav-content>

        <app-welcome-page></app-welcome-page>
        <app-introduction></app-introduction>
        <app-useful></app-useful>

        <app-materials></app-materials>
        <app-feedback></app-feedback>

        <app-footer></app-footer>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>


<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
