.list-container {
    position: relative;
    padding: 0.6rem;
    background-color: #2c2c2c00;
    color: #fff
}

.class-rate-number {
    color: #009688;
}

.mega-icon {
    width: 1.4rem;
    height: 1.4rem;
    fill: #E53935;
    transition: 0.25s;
    cursor: pointer;
}

.mega-icon-disabled {
    width: 1.4rem;
    height: 1.4rem;
    fill: #303030;
}

.mega-icon:hover {
    /*fill: #E53935;*/
    fill: #fff;
}
