.list-container {
    position: relative;
    padding: 0.6rem;
    color: #fff
}

.class-rate-number {
    color: #ffffff;
}

.mega-icon {
    width: 1.4rem;
    height: 1.4rem;
    fill: #E53935;
    transition: 0.25s;
    cursor: pointer;
}

.mega-icon-disabled {
    width: 1.4rem;
    height: 1.4rem;
    fill: #00000050;
}

.mega-icon:hover {
    /*fill: #E53935;*/
    fill: #fff;
}

.rating-wrapper {
    margin-right: 1rem;
    background-color: #15171860;
    border-radius: 1rem;
    padding: 0 0.75rem 0 0.75rem;
}
