.mega-icon {
    width: 1.4em;
    height: 1.4em;
    fill: #E53935;
    transition: 0.25s;
    cursor: pointer;
}

.mega-icon-disabled {
    width: 1.4em;
    height: 1.4em;
    fill: #00000050;
}

.mega-icon:hover {
    fill: #fff;
}

/* POSITION */
.mat-flex {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.mat-container {
    display: grid;
    grid-template-columns: auto 1fr;
}

.mat-item-left {
    grid-column-start: 1;
    grid-column-end: 2;
}

.mat-item-right {
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: right;
}

