@import "variables";

@keyframes opacity {
  0% {
    background-color: #00000000;
  }
  100% {
    background-color: #00000030;
  }
}

@keyframes popup-animation {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  100% {
    opacity: 100%;
    transform: scale(1);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Spinner */
.lds-dual-ring {
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  $spinner-color: $blue-dark;
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid $spinner-color;
  border-color: $spinner-color transparent $spinner-color transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* End Spinner */
