@import "variables";

/* -----===== Font =====----- */
.text-justify {
  text-align: justify;
}
/* -----===== Main =====----- */
.main-component {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 320px auto;
  width: 100%;
  height: 100vh;
}

.main-sidenav {

}

.main-content {

}

@media only screen and (max-width: 1280px) {
  .main-component {
    grid-template-columns: 1fr;
  }

  .main-sidenav {
    display: none;
  }
}

/* -----===== Container =====----- */
.layout-container {
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 32px;
}

/* -----===== Sidenav Container =====----- */
.sidenav-layout {
  display: flex;
  gap: 32px;
  min-height: 100vh;
  box-sizing: border-box;
}

.sidenav-logo-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

$logo-size: 48px;
.sidenav-logo {
  border-radius: 16px;
  width: $logo-size;
  height: $logo-size;
}

.sidenav-logo-text {
  font-size: $font-h6;
  font-weight: bold;
}

.sidenav-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: $font-h7;
}

.sidenav-list-item {
  display: flex;
  padding:16px;
  color: $font-color-light;
  font-weight: bold;
  text-decoration: none;
  background-color: $container-color;
  border-radius: $border-radius-md;
  transition: all $transition-time $transition-type;
}

.sidenav-list-item-active {
  background-color: $negative-container-color;
  color: $negative-font-color;
}

.sidenav-list-item:hover {
  background-color: $negative-container-color;
  color: $negative-font-color;
  transition: all $transition-time $transition-type;
}

.sidenav-footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  text-align: center;
}

.sidenav-footer div:nth-child(1n) {
  font-size: $font-h7;
  font-weight: bold;
}

.sidenav-footer div:nth-child(2n) {
  font-size: $font-h7;
  color: $font-color-light;
  font-weight: normal;
}

.sidenav-footer-icons {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.i {
  font-size: $font-h6;
  color: $font-color;
}

.i-sm {
  font-size: $font-h7;
}

.i-md {
  font-size: $font-h6;
}

.i-md {
  font-size: $font-h5;
}


/* -----===== Flex =====----- */
.flex-spacer {
  flex-grow: 1;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-gap-16 {
  gap: 16px
}

.flex-space-between {
  justify-content: space-between;
}

.flex-space-evenly {
  justify-content: space-evenly;
}

/* -----===== Content Layout =====----- */
.content-title-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.content-title {
  color: $font-color;
  font-size: $font-h4;
  font-weight: bold;
}

.content-subtitle {
  color: $font-color-light;
  font-size: $font-h7;
}

/* -----===== Cards =====----- */
.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: $border-radius-md;
  padding: 32px;
}

.card-sm {
  width: min(256px, 100%);
}

.card-h-sm {
  min-height: 168px;
}

.card-md {
  width: min(400px, 100%);
}

.card-h-md {
  min-height: 150px;
}

.card > .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $font-color-light;
  font-size: $font-h7;
}

.card > .content {
  color: $font-color;
  font-size: $font-h65;
}

/* -----===== Colors =====----- */
.bck-orange {
  background-color: #fff3e0;
}

.bck-deep-orange {
  background-color: #fbe9e7;
}

.bck-blue {
  background-color: #e3f2fd;
}

.bck-green {
  background-color: #e8f5e9;
}

/* -----===== Font =====----- */
.font-light {
  color: $font-color-light;
}
