@import "variables";

/* -----===== Main =====----- */
.main-component {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 320px 1fr;
  width: 100vw;
  height: 100vh;
}

.main-content {
  overflow: auto;
  align-items: start;
}

/* -----===== Container =====----- */
.layout-container {
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 32px;
}

/* -----===== Sidenav Container =====----- */
.sidenav-layout {
  display: flex;
  gap: 32px;
  min-height: 100vh;
  box-sizing: border-box;
}

.layout-container[class*="secondary-sidenav-layout"] {
  display: none;
}

.sidenav-logo-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

$logo-size: 48px;
.sidenav-logo {
  border-radius: 16px;
  width: $logo-size;
  height: $logo-size;
}

.sidenav-logo-text {
  font-size: $font-h6;
  font-weight: bold;
}

.sidenav-footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  text-align: center;
}

.sidenav-footer div:nth-child(1n) {
  font-size: $font-h7;
  font-weight: bold;
}

.sidenav-footer div:nth-child(2n) {
  font-size: $font-h7;
  color: $font-color-light;
  font-weight: normal;
}

.sidenav-footer-icons {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

/* -----===== List =====----- */
.list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: $font-h7;
}

.list-row {
  display: flex;
  flex-direction: row;
  gap: 6px;
  font-size: $font-h7;
}

.list-item {
  display: flex;
  flex-direction: row;
  gap:24px;
  padding:16px;
  color: $font-color-light;
  font-weight: bold;
  text-decoration: none;
  background-color: $container-color;
  border-radius: $border-radius-md;
  transition: color $transition-time $transition-type, background-color $transition-time $transition-type;
  align-items: center;
}

.list-item i {
  color: $font-color-light;
}

.list-item[class*="active"] {
  background-color: $negative-container-color;
  color: $negative-font-color;
}

.list-item[class*="active"] i {
  color: $negative-font-color;
}


.list-item:hover {
  background-color: $negative-container-color;
  color: $negative-font-color;
}

.list-item:hover i {
  color: $negative-font-color;
}

/* -----===== Content Layout =====----- */
.layout-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.content-title {
  color: $font-color;
  font-size: $font-h4;
  font-weight: bold;
}

.content-title-sm {
  color: $font-color;
  font-size: $font-h6;
  font-weight: bold;
}

.content-subtitle {
  font-size: $font-h7;
  font-weight: bold;
}

/* -----===== Cards =====----- */
.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: $border-radius-md;
  padding: 32px;
}

.card-xsm {
  width: min(128px, 100%);
}

.card-h-xsm {
  min-height: 64px;
}

.card-sm {
  width: min(256px, 100%);
}

.card-h-sm {
  min-height: 168px;
}

.card-md {
  width: min(400px, 100%);
}

.card-h-md {
  min-height: 150px;
}

.card > .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $font-color-light;
  font-size: $font-h7;
}

.card > .content {
  color: $font-color;
  font-size: $font-h65;
}

/* -----===== Buttons =====----- */
.btn {
  background-color: $container-color-up;
  color: $font-color;
  font-weight: bold;
  font-size: $font-h8;
  border: none;
  border-radius: $border-radius-sm;
  padding: 15px 32px;
  text-align: center;
  transition: color $transition-time $transition-type, background-color $transition-time $transition-type;
}

.btn:hover {
  background-color: $negative-container-color;
  color: $negative-font-color;
}

.btn[class*="active"] {
  background-color: $negative-container-color;
  color: $negative-font-color;
}

/* -----===== Materials =====----- */
.materials-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 64px;
}

.semester-side {
  height: 460px;
  overflow: auto;
}

/* -----===== Contributors =====----- */
img {
  user-select: none;
}

.image-card {
  display: flex;
  gap: 16px;
  flex-direction: column;
  width: 150px;
}

.image-card img {
  border-radius: $border-radius-sm;
  width: 150px;
  height: 150px;
}

.image-card > .text {
  color: $font-color-light;
  text-align: center;
}

/* -----===== Contributors =====----- */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100%;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: $border-radius-sm;
  padding: 4px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  margin-left: auto;
  box-sizing: border-box;

  font-size: $font-h8;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
