@import "variables";

.user-select {
  user-select: text;
}

/* -----===== Scroll =====----- */
.overflow-auto {
  overflow: auto;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 16px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 16px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* -----===== Font =====----- */
.text-justify {
  text-align: justify;
}

.font-normal {
  color: $font-color;
}

.font-light {
  color: $font-color-light;
}

/* -----===== Colors =====----- */
.bck-container {
  background-color: $container-color-up;
}

.bck-orange {
  background-color: #bb4d00;
}

.bck-deep-orange {
  background-color: #bf360c;
}

.bck-blue-gray {
  background-color: #37474f;
}

.bck-green {
  background-color: #00796b;
}

.bck-red {
  background-color: #d32f2f;
}

.bck-deep-purple {
  background-color: #4527a0;
}

.bck-indigo {
  background-color: #3949ab;
}

.bck-teal {
  background-color: #00695c;
}

.bck-gray {
  background-color: #212121;
}

/* -----===== Flex =====----- */
.flex-spacer {
  flex-grow: 1;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-auto {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-16 {
  gap: 16px !important;
}

.gap-24 {
  gap: 24px !important;
}

.gap-32 {
  gap: 32px !important;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-space-evenly {
  justify-content: space-evenly;
}

.flex-center {
  justify-content: center;
}

.flex-start {
  justify-content: start;
}

/* -----===== Grid =====----- */
.grid-auto {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

/* -----===== Icons =====----- */
.i {
  font-size: $font-h6;
  color: $font-color;
}

.i-sm {
  font-size: $font-h7;
}

.i-md {
  font-size: 1.3rem;
}

.i-lg {
  font-size: 1.75rem;
}
