$background-color: #F6F9FC;

$gap: 16px;
$font-color: #02203c;
$font-color-invert: #ffffff;
$font-color-light: #6B7C93;

/* Colors */
$blue-dark: #001528;
$blue-light: #02203c;

$navbar-background: #3b4d56;

$bg-red: #e15d5d;

$bg-yellow: #f37f1b;
$font-yellow: #f69a4b;

$font-blue: #8d96eb;
$bg-blue: #626ee3;
