<mat-list>

  <h3 mat-subheader>First Semester</h3>

    <mat-list-item *ngFor="let classItem of firstSemester">
      <mat-icon mat-list-icon>{{classItem.icon}}</mat-icon>
      <h4 mat-line>{{classItem.name}}</h4>
      <p mat-line>Ultima actualizare : {{classItem.lastUpdated | date}} </p>
      <a mat-flat-button color="primary" target="_blank" href="{{classItem.link}}" [disabled]="classItem.link == ''">Link</a>
    </mat-list-item>

  <mat-divider></mat-divider>

  <h3 mat-subheader>Second Semester</h3>
  <mat-nav-list>
    <mat-list-item *ngFor="let classItem of secondSemester">
      <mat-icon mat-list-icon>{{classItem.icon}}</mat-icon>
      <h4 mat-line>{{classItem.name}}</h4>
      <p mat-line>Ultima actualizare : {{classItem.lastUpdated | date}} </p>
    </mat-list-item>
  </mat-nav-list>

</mat-list>
