<img *ngIf="!layoutSizeService.smallScreen" style=" user-select: none; width: 100%; position: absolute; margin-top: 75px" src="./../../../assets/background.svg">
<img *ngIf="layoutSizeService.smallScreen" style=" user-select: none; width: 100%; position: absolute;margin-top: 200px" src="./../../../assets/background.svg">
<div style="width: 100%; height:203px;z-index: -40;position: absolute; background-color: #FF7752"></div>
<app-welcome-page></app-welcome-page>
<app-introduction></app-introduction>

<app-materials></app-materials>
<app-feedback></app-feedback>
<app-footer></app-footer>
