<img *ngIf="!layoutSizeService.smallScreen" style=" user-select: none; width: 100%; position: absolute; margin-top: 75px" src="./../../../assets/background.svg">
<img *ngIf="layoutSizeService.smallScreen" style=" user-select: none; width: 100%; position: absolute;margin-top: 200px" src="./../../../assets/background.svg">
<app-welcome-page></app-welcome-page>
<app-introduction></app-introduction>
<app-useful></app-useful>

<app-materials></app-materials>
<app-feedback></app-feedback>
<app-footer></app-footer>
