
$container_size : 41rem;
.intro-container {
    position: relative;
    margin-top: 3.5rem;
    width: 100%;
    min-height: $container_size;
    display: flex;
    /*background-color: #2c2c2c;*/
}

.text-container {
    position: absolute;
    width: 50%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.display-images {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    height: $container_size;
    width: 100%;
}

.intro-flat-cover {
    max-width: 35rem;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: end;
    margin-left: auto;
}

.intro-flat-snow {
    position: absolute;
    bottom: -5px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: end;
    width: 1920px;
    right: 0;
}

