<div class="layout-container">

  <div class="layout-content">
    <div class="content-title">Feedback</div>
    <div class="content-subtitle font-light">Always something to improve</div>
  </div>

  <div class="layout-content">
    <div>
      <p>In order to give a feedback of any kind: what can be improved, what you like, etc you can
        use the link below.</p>

      <p>The form can be found <a href="https://forms.gle/BdPZBsHJQBUr8UxK8" target="_blank">here</a>.</p>

    </div>

    <iframe height="420" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQVwa03QZpo5ryumtjn2408_utqnT7jfnuP0tesG01V_X16cEHs_ZkHg9G9KEysdP0pEgSkFnyYqjxV/pubhtml?widget=true&amp;headers=false"></iframe>

  </div>

</div>
