// design inspired from https://www.algoexpert.io
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

@import "style/variables";
@import "style/animations";
@import "style/global";

@import "style/navigation";

@import "style/layout";
@import "style/responsive";

/* Import only the needed style from bulma */
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/elements/button.sass";

html {
  font-family: "Open Sans","Helvetica","Arial",sans-serif;
  background-color: $background-color;
  color: $font-color;
  line-height: 1.6;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: "Ubuntu","Helvetica","Arial",sans-serif;
}

a {
  text-decoration: none;
  color: $font-color;
}


