/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body {
  background-color: #EFF2F6;
}

$max-width: 1200px;
.max-width {
  max-width: $max-width;
}

$widget-gap: 24px;
$widget-items-gap: 18px;

.layout {
  gap: $widget-gap;
  width: 100%;
}

.widget {
  display: flex;
  flex-direction: column;
  gap: $widget-items-gap;
  padding: $widget-items-gap;
}

.base-layout {
  display: flex;
  flex-direction: column;
  gap: $widget-gap;
  align-items: stretch;

  .page-content {
    align-self: center;
    width: min($max-width, 100%);
  }
}
