<app-widget-card>
  <div class="flex flex-col gap-4">

    <div class="font-bold text-ms">Materials</div>

    <form class="block">
      <input type="text" name="searchQuery" [(ngModel)]="searchQuery" (ngModelChange)="onSearchChange()" id="first_name" class="bg-gray-200 text-black border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
             placeholder="Search by name(ro,en), credits, or short(ro)" required>
    </form>

    <div class="flex sm:flex-row flex-col gap-4">
      <div class="sm:basis-2/3 basis-full flex gap-4">
        <button class="basis-1/2 text-white px-3 py-2 rounded-md text-sm font-medium" (click)="onCycleChange(cycleType.BACHELORS)"
                [ngClass]="selectedCycle === cycleType.BACHELORS ? 'bg-gray-200 text-black hover:bg-gray-300' : 'bg-gray-800 hover:bg-gray-900'">Bachelor. Year: {{selectedYear}}</button>
        <a class="sm:basis-1/3" href="https://drive.google.com/drive/folders/1aRdLkrZmiv9x0CewuFKiJHZJZZgzw2ye?usp=sharing" target="_blank">
          <button class="w-full bg-gray-800 text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-900">
            <span class="sm:inline">Master</span></button>
        </a>
      </div>
      <div class="sm:basis-1/2 basis-full flex gap-4">
        <a href="{{additionalResources.DOCS}}" target="_blank" class="basis-1/3">
          <button class="w-full bg-gray-800 hover:bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium">
            <i class="fa-solid fa-folder"></i>
            Docs
          </button>
        </a>
        <a href="{{additionalResources.GRADUATION}}" target="_blank" class="basis-2/3">
          <button class="w-full bg-gray-800 hover:bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium">
            <i class="fa-solid fa-graduation-cap"></i>
            Graduation</button>
        </a>
      </div>
    </div>

    <div class="flex flex-row gap-4 justify-between flex-wrap">
      <ul class="grid grid-cols-2 xl:grid-cols-6 lg:grid-cols-3 md:grid-cols-3 text-sm font-medium text-center text-gray-500 gap-2 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 w-full">
        <li *ngFor="let semesterCount of semesters" (click)="onSemesterChange(semesterCount)"
            [ngClass]="selectedSemester === '' + semesterCount ? 'text-gray-600 bg-gray-100' : 'hover:text-gray-600 hover:bg-gray-50'">
          <span class="inline-block p-4 rounded-t-lg">Semester {{semesterCount}}</span>
        </li>
      </ul>
    </div>

    <div class="overflow-auto max-h-[49.5rem]">
      <div class="flex flex-col gap-4 overflow-auto">

        <div *ngFor="let _class of filteredClasses" class="flex flex-row justify-between bg-white rounded-lg shadow overflow-hidden">

          <div class="w-2"
               [class.bg-gray-400]="_class.type === classTypes.NORMAL"
               [class.bg-sky-400]="_class.type === classTypes.OPTIONAL_1"
               [class.bg-emerald-400]="_class.type === classTypes.OPTIONAL_2"
               [class.bg-orange-400]="_class.type === classTypes.OPTIONAL_3"
               [class.bg-indigo-400]="_class.type === classTypes.FACULTY"
          ></div>

          <img src="{{_class.photo || defaultClassPhoto}}" class="hidden sm:h-[12rem] sm:inline aspect-square rounded-r-lg" alt="">

          <div class="flex flex-col basis-full gap-4 p-4">
            <div class="text-xl font-bold">{{_class.name}}</div>

            <div class="basis-full text-gray-600 text-sm">
              <div>Credits: {{_class.credits}}</div>
              <div>Type: {{_class.type}}</div>
            </div>

            <div class="flex gap-4">
              <a href="{{_class.materials}}" target="_blank">
                <button class="bg-gray-100 text-gray-800 px-3 py-2 rounded-md text-sm font-medium"
                        [disabled]="_class.materials === ''" [ngClass]="_class.materials === '' ? 'text-gray-500' : 'hover:bg-gray-200'">
                  <i class="fa-solid fa-download mr-1"></i>
                  <span class="hidden sm:inline">Download</span></button>
              </a>
              <a href="{{_class.site}}" target="_blank">
                <button class="bg-gray-100 text-gray-800 px-3 py-2 rounded-md text-sm font-medium"
                        [disabled]="_class.site === ''" [ngClass]="_class.site === '' ? 'text-gray-500' : 'hover:bg-gray-200'">
                  <i class="fa-solid fa-arrow-up-right-from-square mr-1"></i>
                  <span class="hidden sm:inline">Site</span></button>
              </a>
            </div>
          </div>


        </div>

      </div>
    </div>

  </div>
</app-widget-card>
