.container-full-dark {
    background-color: #2c2c2c;
    padding: 4rem 1rem 4rem 1rem;
}

.container-full {
    padding: 4rem 1rem 4rem 1rem;
}

.container-max-width {
    max-width: 110rem;
}

.title-color {
    color: #2b2b2b;
}
.content-color {
    color: #474747;
}

/**/
.left-side {
    float: left;
    vertical-align: middle;
    line-height: 2.125rem;
}

.right-side {
    float: right;
    vertical-align: middle;
    line-height: 2.125rem;
}

.inline {
    display: inline-block;
}
/**/

