.topbar-link {
    text-decoration: none !important;
    color: rgba(255,255,255,.5) !important;
}
.topbar-link:hover {
    text-decoration: none !important;
    color: #cbcdce !important;
}

/* COMPONENT */
.bg-0 {
    background-color: #272727 !important;
}
/* BANNER */
.bg-1 {
    background-color: #333333 !important;
}
/* LIST */
.bg-2 {
    background-color: #3B3B3B !important;
}
.bg-3 {
    background-color: #4c4c4c !important;
}
.bg-4 {
    background-color: #424549 !important;
}

.star {
    width: 1rem;
    height: 1rem;
}

.center {
    position: relative !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 0 !important;
}
.center-absolute {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container-max-width {
    max-width: 110rem;
}

.title-color {
    color: #2b2b2b;
}
.content-color {
    color: #474747;
}

/**/

.inline {
    display: inline-block;
}
/**/

.back-icon {
    position: absolute;
    top: 0;
    margin-top: 2em;
    margin-left: 2em;
    width: 2em;
    height: 2em;

}

// global padding
$component-margin : 4rem;
.component-margin {
    margin-top: $component-margin !important;
}
$component-padding : 2rem;
.component-padding {
    padding: $component-padding + 3rem $component-padding $component-padding + 3rem $component-padding;
}

.component-padding-horizontal {
    padding-left: $component-padding !important;
    padding-right: $component-padding !important;
}

.component-style {

}

// radius
$radius : 4rem;
.component-top-radius {
    border-radius: $radius $radius 0 0;
}
.component-bottom-radius {
    border-radius: 0 0 $radius $radius;
}






