// design inspired from https://www.algoexpert.io
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

@import "style/variables";

/* Import only the needed style from bulma */
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/elements/button.sass";

h1, h2, h3 {
  font-family: "Ubuntu","Helvetica","Arial",sans-serif;
}

a {
  text-decoration: none;
  color: $font-color;
}

html {
  font-family: "Open Sans","Helvetica","Arial",sans-serif;
  background-color: $background-color;
  color: $font-color;
  line-height: 1.6;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

// I know !important is not recommended, but bulma is giving me no choice
.yellow-style {
  & .subtitle-logo {
    color: $font-yellow !important;
  }

  & .button {
    background-color: $bg-yellow !important;
    color: white !important;
  }
}

.blue-style {
  & .subtitle-logo {
    color: $font-blue !important;
  }

  & .button {
    background-color: $bg-blue !important;
    color: white !important;
  }
}

.grid-three {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 32px;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-radius: 4px;

  &.has-shadow {
    box-shadow: rgba(149, 157, 165, 0.2) 0 0 0;
    transition: box-shadow 250ms ease-in-out;
  }

  &.has-shadow:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

}

.font-20 {
  font-size: 1.25rem;
}

.font-light {
  color: $font-color-light;
}

.font-center {
  text-align: center;
}

i.icon {
  font-size: 52px;
}

.fill {
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: $gap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

.no-gap {
  gap: 0;
}

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

.gap-32 {
  gap: 32px;
}

.p-8 {
  padding: 8px;
}

.p-16 {
  padding: 16px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-justify {
  justify-content: center;
}

.flex-align-items {
  align-items: center;
}

.welcome {
  min-height: 540px;
  background: linear-gradient(-90deg, $blue-dark, $blue-light);
  padding: 128px 32px 32px 32px;
  color: white;

  .welcome-title {
    font-size: 2.125rem;
    font-weight: 400;
    font-family: "Ubuntu","Helvetica","Arial",sans-serif;
  }

  .welcome-description {
    font-size: 1.125rem;
  }

}

.grid-2 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
}

.max-width-512 {
  max-width: min(100%, 512px);
}

.max-width-720 {
  max-width: min(100%, 720px);
}

.page-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $font-color;

  .content {
    width: min(100%, 1280px);
    padding: 32px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 32px;
  }

  .title {
    font-size: 2.125rem;
    font-weight: 500;
    color: $font-color;
  }

}




