<mat-list-item>
  <mat-icon mat-list-icon>{{'fiber_manual_record'}}</mat-icon>
  <h4 mat-line>{{listItem.name}}</h4>
  <p mat-line>Credite: {{listItem.credits}}</p>
  <p mat-line>Ultima actualizare: {{listItem.lastUpdated}} </p>

  <a mat-stroked-button color="primary" target="_blank" href="{{listItem.githubLink}}" [disabled]="listItem.githubLink === ''">
    Git
  </a>

  <a mat-flat-button color="primary" target="_blank" href="{{listItem.megaLink}}" [disabled]="listItem.megaLink === ''" style="margin-left: 16px;">
    Link
  </a>

</mat-list-item>
