$class-space: 18px;

.semesters-container {
  display: flex;
  flex-direction: column;
  max-height: 680px;
  gap: $class-space;
  overflow: auto;

  .semester {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .semester-title {
      position: sticky;
      top: 0;
      border: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      padding: 0 12px 12px 12px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}


.classes-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $class-space;

  .class {
    img {
      width: 100%;
      aspect-ratio: 16 / 9;
    }

  }
}

